In [7]:
#Importing the Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
#Reading csv file using pandas.read_csv and saved in data variable
data = pd.read_csv("insurance_pre.csv")

In [9]:
data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [10]:
data=pd.get_dummies(data,drop_first=True)

In [11]:
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [12]:
#independent variable is an input(age,bmi,children)
independent = data[["age","bmi","children","sex_male","smoker_yes"]]
#Depedent variable is output(charges)
dependent = data[["charges"]]

In [13]:
#Creating a model for train set
#from sklearn library call model_selection function and import train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent,dependent, test_size = 1/3, random_state = 0)

In [14]:
y_test

          charges
578    9724.53000
610    8547.69130
569   45702.02235
1034  12950.07120
198    9644.25250
...           ...
261   17085.26760
1271   3021.80915
1313  36397.57600
2      4449.46200
405   11396.90020

[446 rows x 1 columns]

In [15]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()#loading the formula in regressor variable
regressor.fit(X_train, y_train)#fit key word is used for substitute the value

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
#Model creation
#Weight value is calculating by regressor.coef
weight=regressor.coef_
print("weight of the model={}".format(weight))
#bais value is calculating by regressor.intercept
bais=regressor.intercept_
print("Intercept of model={}".format(bais))

weight of the model=[[  260.1423112    315.22441969   545.72248029   -71.76915955
  23252.13608407]]
Intercept of model=[-12013.76012735]

In [17]:
#Testinput is predicted by using predict function and saved into y_pred variable
y_pred=regressor.predict(X_test)

In [18]:
#Calculating evaluation metric value
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [19]:
r_score

0.7865108093853883

In [20]:
age_input,bmi_input,childern_input,sex_male,smoker_yes=int(input("Enter the Age: ")),int(input("Enter the BMI: ")),int(input("Enter the Children: ")),int(input("Enter the Sex Male 0 or Female 1: ")),int(input("Enter Smoker YES 0 or NO 1: "))

Enter the Age: 24
Enter the BMI: 78
Enter the Children: 2
Enter the Sex Male 0 or Female 1: 0
Enter Smoker YES 0 or NO 1: 1

In [22]:
#Calculating prediction value
Future_Prediction=regressor.predict([[age_input,bmi_input,childern_input,sex_male,smoker_yes]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[[43160.74112167]]