In [23]:
#Importing the Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [24]:
#Reading csv file using pandas.read_csv and saved in data variable
data = pd.read_csv("insurance_pre.csv")

In [25]:
data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [26]:
data=pd.get_dummies(data,drop_first=True)

In [27]:
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [28]:
#independent variable is an input(age,bmi,children)
independent = data[["age","bmi","children","sex_male","smoker_yes"]]
#Depedent variable is output(charges)
dependent = data[["charges"]]

In [29]:
#Creating a model for train set
#from sklearn library call model_selection function and import train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent,dependent, test_size = 1/3, random_state = 0)

In [30]:
#Standardization is changing every colume into same range of value
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [31]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {"criterion":["mae","mse","friedman_mse"],
             "splitter":["best", "random"],"max_features":["auto","sqrt","log2"]}

grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit=True, verbose = 3,n_jobs=-1)
grid.fit(X_train, y_train)

C:\Users\vijai\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  30 tasks      | elapsed:    8.1s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:    8.4s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mae', 'mse', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [35]:
re=grid.cv_results_
grid_predictions=grid.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

print("The R_score value for best parameter{}:".format(grid.best_params_),r_score)

The R_score value for best parameter{'criterion': 'mse', 'max_features': 'auto', 'splitter': 'random'}: 0.6678406797174989

In [33]:
table=pd.DataFrame.from_dict(re)

In [34]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.036460,0.007367,0.000000,0.000000,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.651288,0.634400,0.676886,0.654188,0.017457,3
1,0.031254,0.000001,0.000000,0.000000,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.541153,0.662841,0.710873,0.638180,0.071464,6
2,0.020837,0.007366,0.010419,0.007367,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.562256,0.616022,0.677224,0.618437,0.046979,8
3,0.031251,0.000006,0.000000,0.000000,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.420568,0.677630,0.574708,0.557482,0.105678,15
4,0.026046,0.007366,0.005209,0.007366,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.448562,0.650811,0.632401,0.577114,0.091362,14
5,0.015626,0.000004,0.005208,0.007366,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.629996,0.550111,0.651659,0.610611,0.043649,9
6,0.015626,0.000005,0.005211,0.007369,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.545137,0.681558,0.696441,0.640938,0.068126,5
7,0.015624,0.000005,0.005211,0.007369,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.670006,0.699948,0.653910,0.674616,0.019066,1
8,0.010417,0.007366,0.005208,0.007366,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.643493,0.731571,0.627028,0.667337,0.045877,2
9,0.010421,0.007369,0.005211,0.007369,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.598749,0.548206,0.618645,0.588545,0.029635,11
10,0.005211,0.007369,0.015626,0.000006,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.546187,0.366306,0.668673,0.527077,0.124112,17
11,0.015626,0.000004,0.000000,0.000000,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.558488,0.502762,0.585341,0.548875,0.034375,16
12,0.010415,0.007365,0.005211,0.007369,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.543519,0.669476,0.690997,0.634562,0.065080,7
13,0.005211,0.007369,0.005211,0.007370,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.599383,0.672977,0.669624,0.647274,0.033949,4
14,0.018418,0.003952,0.008035,0.006532,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.541534,0.474126,0.728772,0.581433,0.107675,12
15,0.010415,0.007365,0.005208,0.007366,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.514781,0.653266,0.658308,0.608680,0.066540,10
16,0.005211,0.007369,0.005211,0.007369,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.580143,0.351256,0.566086,0.499253,0.104719,18
17,0.010420,0.007368,0.005207,0.007363,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.532077,0.615584,0.590401,0.579301,0.034991,13

In [13]:
age_input,bmi_input,childern_input,sex_male,smoker_yes=int(input("Enter the Age: ")),int(input("Enter the BMI: ")),int(input("Enter the Children: ")),int(input("Enter the Sex Male 0 or Female 1: ")),int(input("Enter Smoker YES 0 or NO 1: "))

Enter the Age: 24
Enter the BMI: 34
Enter the Children: 3
Enter the Sex Male 0 or Female 1: 0
Enter Smoker YES 0 or NO 1: 1

In [14]:
#Calculating prediction value
Future_Prediction=regressor.predict([[age_input,bmi_input,childern_input,sex_male,smoker_yes]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[48549.17835]