# Importing the Libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Reading csv file using pandas.read_csv and saved in data variable

In [2]:
data = pd.read_csv("insurance_pre.csv")

In [3]:
data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

# Converting Categorical to Numerical

In [4]:
data=pd.get_dummies(data,drop_first=True)

In [5]:
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

# Independent variable is an input
# Depedent variable is output

In [6]:
independent = data[["age","bmi","children","sex_male","smoker_yes"]]
dependent = data[["charges"]]

# Split into training set and test

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent,dependent, test_size = 1/3, random_state = 0)

# Standardization is changing every colume into same range of value

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {"criterion":["mae","mse","friedman_mse"],
             "splitter":["best", "random"],"max_features":["auto","sqrt","log2"]}

grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit=True, verbose = 3,n_jobs=-1)
grid.fit(X_train, y_train)

C:\Users\vijai\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  31 tasks      | elapsed:    8.0s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:    8.3s finished
C:\Users\vijai\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mae', 'mse', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

# Testinput is predicted by using grid predict function and saved into grid_predictions variable

In [10]:
re=grid.cv_results_
grid_predictions=grid.predict(X_test)

# Calculating evaluation metric value

In [11]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

# Best parameter

In [12]:
print("The R_score value for best parameter{}:".format(grid.best_params_),r_score)

The R_score value for best parameter{'criterion': 'mse', 'max_features': 'auto', 'splitter': 'random'}: 0.7448532394538854

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table[["param_criterion","param_max_features","param_splitter","mean_test_score","rank_test_score"]]

,param_criterion,param_max_features,param_splitter,mean_test_score,rank_test_score
0,mae,auto,best,0.665854,2
1,mae,auto,random,0.665701,3
2,mae,sqrt,best,0.507685,17
3,mae,sqrt,random,0.559504,15
4,mae,log2,best,0.608563,9
5,mae,log2,random,0.631424,6
6,mse,auto,best,0.637082,5
7,mse,auto,random,0.675668,1
8,mse,sqrt,best,0.572346,14
9,mse,sqrt,random,0.598496,10
10,mse,log2,best,0.585894,12
11,mse,log2,random,0.581879,13
12,friedman_mse,auto,best,0.627184,7
13,friedman_mse,auto,random,0.649421,4
14,friedman_mse,sqrt,best,0.523542,16
15,friedman_mse,sqrt,random,0.590162,11
16,friedman_mse,log2,best,0.615932,8
17,friedman_mse,log2,random,0.487646,18

In [15]:
age_input,bmi_input,childern_input,sex_male,smoker_yes=int(input("Enter the Age: ")),int(input("Enter the BMI: ")),int(input("Enter the Children: ")),int(input("Enter the Sex Male 0 or Female 1: ")),int(input("Enter Smoker YES 0 or NO 1: "))

Enter the Age: 24
Enter the BMI: 34
Enter the Children: 2
Enter the Sex Male 0 or Female 1: 0
Enter Smoker YES 0 or NO 1: 0

# Calculating prediction value

In [16]:
Future_Prediction=grid.predict([[age_input,bmi_input,childern_input,sex_male,smoker_yes]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[36580.28216]