# Importing the Libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Reading csv file using pandas.read_csv and saved in data variable

In [2]:
data = pd.read_csv("insurance_pre.csv")

In [3]:
data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

# Converting Categorical to Numerical

In [4]:
data=pd.get_dummies(data,drop_first=True)

In [5]:
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

# Independent variable is an input
# Depedent variable is output

In [6]:
independent = data[["age","bmi","children","sex_male","smoker_yes"]]
dependent = data[["charges"]]

# Split into training set and test

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent,dependent, test_size = 1/3, random_state = 0)

# Standardization is changing every colume into same range of value

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
param_grid = {"kernel":["rbf","poly","sigmoid","linear"],
             "C":[10,100,1000,2000,3000],"gamma":["auto","scale"]}

grid = GridSearchCV(SVR(), param_grid, refit=True, verbose = 3,n_jobs=-1)
grid.fit(X_train, y_train)

C:\Users\vijai\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 3 folds for each of 40 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:   13.0s finished
C:\Users\vijai\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\vijai\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3,
                           epsilon=0.1, gamma='auto_deprecated', kernel='rbf',
                           max_iter=-1, shrinking=True, tol=0.001,
                           verbose=False),
             iid='warn', n_jobs=-1,
             param_grid={'C': [10, 100, 1000, 2000, 3000],
                         'gamma': ['auto', 'scale'],
                         'kernel': ['rbf', 'poly', 'sigmoid', 'linear']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

# Testinput is predicted by using grid predict function and saved into grid_predictions variable

In [10]:
re=grid.cv_results_
grid_predictions=grid.predict(X_test)

# Calculating evaluation metric value

In [11]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

# Best parameter

In [12]:
print("The R_score value for best parameter{}:".format(grid.best_params_),r_score)

The R_score value for best parameter{'C': 3000, 'gamma': 'auto', 'kernel': 'poly'}: 0.8577898390283567

In [13]:
table=pd.DataFrame.from_dict(re)

In [16]:
table[["param_C","param_gamma","param_kernel","mean_test_score","rank_test_score"]]

   param_C param_gamma param_kernel  mean_test_score  rank_test_score
0       10        auto          rbf        -0.072174               35
1       10        auto         poly        -0.021091               32
2       10        auto      sigmoid        -0.029987               33
3       10        auto       linear         0.289920               27
4       10       scale          rbf        -0.072183               36
5       10       scale         poly        -0.020971               31
6       10       scale      sigmoid        -0.030027               34
7       10       scale       linear         0.289920               27
8      100        auto          rbf         0.179784               29
9      100        auto         poly         0.450389               22
10     100        auto      sigmoid         0.437982               24
11     100        auto       linear         0.579559               19
12     100       scale          rbf         0.179737               30
13     100       scale         poly         0.450940               21
14     100       scale      sigmoid         0.439498               23
15     100       scale       linear         0.579559               19
16    1000        auto          rbf         0.661057               13
17    1000        auto         poly         0.781298                8
18    1000        auto      sigmoid         0.323072               26
19    1000        auto       linear         0.651037               17
20    1000       scale          rbf         0.660834               14
21    1000       scale         poly         0.781368                7
22    1000       scale      sigmoid         0.352361               25
23    1000       scale       linear         0.651037               17
24    2000        auto          rbf         0.765505                9
25    2000        auto         poly         0.799868                4
26    2000        auto      sigmoid        -0.105737               37
27    2000        auto       linear         0.669330               11
28    2000       scale          rbf         0.765279               10
29    2000       scale         poly         0.799964                3
30    2000       scale      sigmoid        -0.125605               38
31    2000       scale       linear         0.669330               11
32    3000        auto          rbf         0.788715                5
33    3000        auto         poly         0.800758                1
34    3000        auto      sigmoid        -0.972247               40
35    3000        auto       linear         0.656065               15
36    3000       scale          rbf         0.788610                6
37    3000       scale         poly         0.800697                2
38    3000       scale      sigmoid        -0.964699               39
39    3000       scale       linear         0.656065               15

In [17]:
age_input,bmi_input,childern_input,sex_male,smoker_yes=int(input("Enter the Age: ")),int(input("Enter the BMI: ")),int(input("Enter the Children: ")),int(input("Enter the Sex Male 0 or Female 1: ")),int(input("Enter Smoker YES 0 or NO 1: "))

Enter the Age: 21
Enter the BMI: 34
Enter the Children: 0
Enter the Sex Male 0 or Female 1: 0
Enter Smoker YES 0 or NO 1: 0

# Calculating prediction value

In [18]:
Future_Prediction=grid.predict([[age_input,bmi_input,childern_input,sex_male,smoker_yes]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[724585.96907747]